.center {
    text-align: center;
}

div.dataTables_wrapper {
    margin: 0 auto;
}

code {
    color: black;
}

input {
    text-align: center;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {height: auto;}
}

.nav-logo {
    float: left;
  display: inline-block;
}