<table id="{{ table_id }}" class="table table-hover table-striped table-bordered center">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
    
        {% for product in products %}
        <tr>
            <td>{{ product.category.name }}</td>
            <td>{{ product.name }}</td>
            <td>₡{{ product.price }}</td>
            <td>
                {% if product.quantity and "orders" in request.path %}
                    <select name="{{ product.id }}-quantity" id="{{ product.id }}-quantity">
                        {% with ''|center:product.quantity as range %}
                        {% for _ in range %}
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                        {% endfor %}
                        {% endwith %}
                    </select>
                {% else %}
                    <input name="{{ product.id }}-quantity" value="0" size="4"/>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    <tbody>
</table> 