{% extends 'base.html' %}

{% block content %}

<h1>
    Ordenes
</h1>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newOrder">Nueva Orden</button>

<div>
    <form method="POST" action="{% url 'create_order' %}">
        <div id="newOrder" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                <div class="modal-body">
                    <table class="center">
                        <td>Cliente</td>
                        <td><input type="text" class="form-control" name="customer"></td>
                    </table>
                    {% include 'products_table.html' with table_id="createOrderTable" %}
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 pull-right">
                        <button class="btn btn-primary btn-outline" type="submit">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div> 

<div>
    <form method="POST" action="{% url 'add_products' %}">
        <div id="addProduct" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                <div class="modal-body">
                    <input type="hidden" name="addProductOrderId" id="addProductOrderId" value=""/>
                    {% include 'products_table.html' with table_id="addProductTable" %}
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 pull-right">
                        <button class="btn btn-primary btn-outline" type="submit">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <form method="POST" action="{% url 'close_order' %}">
        <div id="closeOrder" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                <div class="modal-body">
                    <input type="hidden" name="closeOrderOrderId" id="closeOrderOrderId" value=""/>
                    <p id="orderDetails"></p>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 pull-right">
                        <button class="btn btn-primary btn-outline" type="submit">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <table id="ordersTable" class="table table-hover table-striped table-bordered center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Total</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.customer }}</td>
                <td>₡{{ order.total_ammount }}</td>
                <td><button id="addProductButton" type="button" data-order-id="{{ order.id }}">+</button></td>
                <td><button id="payButton" type="button" data-order-id="{{ order.id }}" data-detail-url="{% url 'order_details' order.id %}">Pagar</button></td>
            </tr>
            {% endfor %}
        <tbody>
    </table>
</div>

{% endblock %}